html{
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3{
    font-family: 'Cormorant Infant', serif;
}

.container{
    max-width: 1170px!important;
    margin: 0 auto;
    padding: 0 18px;
}

header{
    position: relative;
}

.page_title{
    margin-top: 35px;
    color: #262626;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.18px;
    text-align: center;
}

.page_description{
    margin-top: 10px;
    color: #595959;
    font-family: 'Cormorant Infant', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    text-align: center;
}

.header_navigation{
    margin-top: 65px;
}

.header_nav{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav_item{
    color: #682929;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.08px;
}

.header_nav_item:hover{
    color: #48974c;
}

.active{
    color: #48974c;
}

.nav-toggler{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background-image: url('../images/open-menu.svg');
    background-position: center;
    background-size: cover;
}

.main{
    margin-top: 20px;
}

.slider{
    position: relative;
}

.slider_wrap{
    min-height: 580px;
    background-image: url('../images/main_bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}

.slide_description{
    max-width: 550px;
    padding: 40px;
    background: #fff;
}

.slide_title{
    padding-right: 50px;
    color: #404040;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.3px;
}

.slider_text{
    margin-top: 20px;
    color: #404040;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
}

.owl-dots{
    position: absolute;
    top: 78%;
    left: 22%;
}

.posts{
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #eeeeee;
}

.posts_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.news-left, .news-right{
    flex-basis: calc(50% - 15px);
}

.news-left{
    margin-right: 16px;
}

.news-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mb30{
    margin-bottom: 30px;
}

.news{
    padding: 25px;
    background: #fff;
}

.news_thumbnail img{
    max-width: 100%;
    margin-bottom: 25px;
}

.news_date{
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.news_date::before{
    content: '';
    width: 16px;
    height: 16px;
    background: url('../images/date-icon.svg');
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
    opacity: .5;
}

.news_date:hover{
    color: #48974c
}

.news_title{
    margin-top: 20px;
    color: #262626;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.news_excerpt{
    margin-top: 14px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.08px;
}

.news_wrap{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    min-width: 205px;
    outline: none;
    cursor: pointer;
    padding: 15px 56px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.07px; 
}

.news_more{
    border: 1px solid #48974c;
    background: #fff;
    color: #48974c;
}

.news_more:hover{
    background: #48974c;
    color: #fff;
}

.news_more:active{
    background: green;
}

.news_links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.news_links li{
    margin-right: 24px;
}

.news_links li:last-child{
    margin-right: 0;
}

.news_links li:hover .social_icon path{
    fill: #48974c!important;
}

.older_posts{
    margin-left: 25px;
    border: 1px solid #48974c;
    background: #48974c;
    color: #fff;
}

.older_posts img{
    margin-left: 10px;
}

.older_posts:hover{
    background: green;
}

.older_posts:active{
    background: #66e06d;
}

.post_cat{
    background: #fff;
    flex-basis: 50%;
    padding: 25px 25px;
    border-bottom: 1px solid #e6e6e6;
}

.post_cat:nth-child(2n+1){
    border-right: 1px solid #e6e6e6;
}

.post_cat:nth-child(2n){
    border-right: 1px solid #fff;
}

.post_thumbnail img{
    max-width: 100%;
    height: 150px;
}

.post_title{
    margin-top: 15px;
    color: #262626;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.12px;
}

.post_excerpt{
    margin-top: 20px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.08px;
}

.post_more{
    display: inline-flex;
    align-items: center;
    margin-top: 18px;
    color: #48974c;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.06px;
}

.post_more:hover{
    color: green
}

.post_more::before{
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #48974c;
    background-image: url('../images/arrow.svg');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

.pagination{
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 100%;
    margin-top: 30px;
}

.pagination_page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 17px;
    width: 56px;
    height: 56px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    cursor: pointer;
}

.pagination_page.current,
.pagination_page:hover{
    background-color: #449653;
    color: #ffffff;
}

.pagination span:hover img{
    transform: scale(1.5);
    transition: all .5s;
}

.build_wrap{
    padding-top: 435px;
    padding-bottom: 70px;   
    background-image: url('../images/build_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.build_proﾑ…es{
    margin-right: -4px;
    padding: 15px;
    border: none;
    background-color: #ffffff;
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.09px;
}

.build_proﾑ…es:hover{
    background-color: #48974c;
    color: #fff;
}

.build_proﾑ…es:active{
    color: #fff;
    background-color: green;
}

.build_more{
    background-color: #48974c;
    color: #fff;
    border: none;
}

.build_more:hover{
    color: #48974c;
    background-color: #fff;
}

.build_more:active{
    color: #fff;
    background-color: green;
}

.adv{
    padding-top: 70px;
    padding-bottom: 70px;
    background: #eee
}

.adv_wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adv_fb{
    flex-basis: 360px;
    margin-right: 30px;
    padding: 35px;
    background: #fff;
}

.adv_fb_title{
    margin-bottom: 25px;
    color: #262626;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.12px;
}

.adv_fb img{
    width: 100%;;
}

.adv_ad{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #262626;
    font-family: 'Cormorant Infant', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.12px;
}

.footer{
    background: #484848;
    padding-top: 45px;
}

.footer_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.footer .site_title{
    max-width: 435px;

}

.footer .site_title h2{
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.18px;
}

.footer .site_title p{
    margin-top: 15px;
    color: #ffffff;
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.footer_navigation{
    flex-basis: 210px;
}

.footer_navigation ul{
    margin: 0;
}

.footer_navigation li{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    letter-spacing: 0.08px;
}

.footer_navigation li:hover{
    color: #48974c;
}

.footer_links{
    text-align: right;
}

.footer .counter{
    margin-top: 40px;
    cursor: pointer;
}

.copywrite{
    margin-top: 60px;
    padding-top: 16px;
    padding-bottom: 18px;
    border-top: 1px solid #808080;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
}


@media (max-width: 992px){
    .header .page_title,
    .header .page_description{
        margin-left: 40px;
    }
    .header_nav{
        display: none;
        margin-top: 20px;
    }

    .header_nav_item{
        display: block;
        padding-top: 10px;
    }

    .header_nav_item:first-child{
        padding-top: 0;
    }

    .header_navigation{
        top: 0;
        margin-top: 10px;
    }

    .nav-toggler{
        display: block;
        position: absolute;
        top: 30px;
    }

    .news-left, .news-right{
        flex-basis: 100%;
    }

    .news-left{
        margin-right: 0;
    }

    .news-right{
        margin-top: 40px;
    }

    .footer_wrap{
        justify-content: center;
    }

    .footer .site_title{
        max-width: 100%;
        flex-basis: 100%;
        text-align: center;
    }
    .footer_navigation,
    .footer_links{
        flex-basis: 30%;
        margin: 30px 20px 0;

    }

    .footer_links{
        text-align: center;
    }
}

@media (max-width: 768px){
    .adv_fb, 
    .adv_ad{
        flex-basis: 100%;
    }

    .adv_fb{
        margin-right: 0;
        text-align: center;
    }

    .adv_ad{
        margin-top: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .footer_navigation,
    .footer_links{
        flex-basis: 40%;
        margin: 30px 20px 0;

    }
}

@media (max-width: 576px){
    .page_title,
    .footer .site_title h2{
        font-size: 30px;
    }

    .page_description{
        font-size: 14px;
    }

    .slider_wrap{
        min-height: auto;
        padding-bottom: 60px;
    }

    .slide_description{
        padding: 20px;
    }
    
    .slide_title{
        padding-right: 0;
        font-size: 35px;
        line-height: 35px;
    }
    
    .slider_text{
        font-size: 16px;
        line-height: 28px;
    }

    .owl-dots{
        top: 85%;
        left: 10%;
    }

    .news_wrap{
        flex-wrap: wrap;
    }

    .news-right{
        max-width: 100%;
    }

    .post_cat{
        flex-basis: 100%;
        border-right: none!important;
    }

    .post_cat .post_thumbnail{
        text-align: center;
    }

    .build_wrap{
        padding-top: 135px;
        padding-bottom: 20px;
    }

    .footer_navigation,
    .footer_links{
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 485px){
    .owl-dots{
        top: 90%;
    }

    .news_wrap{
        justify-content: center;
    }
    
    .news_links{
        margin-top: 20px;
    }

    .pagination .pagination_page:nth-child(4),
    .pagination .pagination_page:nth-child(5){
        display: none;
    }

    .pagination_page{
        margin: 0 10px;
    }

    .build{
        text-align: center;
    }

    .build_proﾑ…es, .build_more{
        margin-top: 20px;
    }
}